*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navbar a {
  text-decoration: none;
  background-color: #264DE4;
  border: 5px solid #777;
  padding: 12px 24px;
  font-size: 32px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 10px #777 inset;
  flex-grow: 1;
}
.navbar.javascript a {
  background-color: #F7E018;
}
.navbar a:hover,
.navbar a:hover {
  background-color: aqua;

}
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    border: 2px solid #777;
    padding: 10px 18px;
    font-size: 24px;
    color: white;
  }
}